* {
    margin: 0;
    padding: 0;
}

main {
    width: 900px;
    margin: 0 auto;
}

header {
    width: 900px;
    height: 150px;
    background: mediumspringgreen;
    margin-bottom: 10px;
}

nav {
    width: 900px;
    height: 50px;
    background: goldenrod;
    margin-bottom: 10px;
}

.propaganda {
    width: 900px;
    height: 300px;    
    margin-bottom: 10px;
}

.propaganda article {
    width: 600px;
    height: 300px;
    
    float: left;
}   

.propaganda aside {    
    width: 290px;
    height: 300px;
    
    float: right;
}

.bloco1 {
    background: red;
}

.bloco2 {
    background: gray;
}

.bloco3 {
    background: darkblue;
}

.bloco4 {
    background: purple;
}


.ads {
    width: 900px;
    height: 150px;
    background: yellowgreen;
    margin-bottom: 10px;
}

footer {
    width: 900px;
    height: 50px;
    background: lightseagreen;
}
